CREATE DATABASE QuanLyQuanCaPhe
GO
USE QuanLyQuanCaPhe
GO
--
CREATE TABLE NHANVIEN
(
IDNV char(20),
TENNV NVARCHAR(100) NOT NULL,
NGAYSINH DATE NOT NULL,
SDT CHAR(12) NOT NULL,
GIOITINH NCHAR(3) NOT NULL
CONSTRAINT PK_IDNV PRIMARY KEY(IDNV)
)
GO
CREATE PROCEDURE LOAD_NHANVIEN
AS
BEGIN
SELECT NHANVIEN.IDNV,NHANVIEN.TENNV,NHANVIEN.NGAYSINH,NHANVIEN.SDT,NHANVIEN.GIOITINH,TAIKHOAN.TENTK,TAIKHOAN.MATKHAU,TAIKHOAN.QUYEN,HINHNV.HINH,HINHNV.IDHINH 
FROM NHANVIEN
inner join TAIKHOAN on NHANVIEN.IDNV=TAIKHOAN.IDNV
inner join HINHNV on NHANVIEN.IDNV=HINHNV.IDNV
END
GO
CREATE PROCEDURE INSERT_NHANVIEN
@IDNV CHAR(20),@TENNV NVARCHAR(100), @NGAYSINH DATE,@SDT CHAR(12),@GIOITINH NCHAR(3)
AS
BEGIN
INSERT INTO NHANVIEN(IDNV,TENNV,NGAYSINH,SDT,GIOITINH) VALUES(@IDNV,@TENNV,@NGAYSINH,@SDT,@GIOITINH)
END
GO
CREATE PROCEDURE UPDATE_NHANVIEN
@IDNV char(20),@TENNV NVARCHAR(100),@NGAYSINH DATE,@SDT CHAR(20),@GIOITINH NCHAR(3)
AS
BEGIN
UPDATE NHANVIEN SET TENNV=@TENNV,NGAYSINH=@NGAYSINH,SDT=@SDT,GIOITINH=@GIOITINH WHERE IDNV=@IDNV
END
GO
CREATE PROCEDURE DELETE_NHANVIEN
@IDNV CHAR(20)
AS
BEGIN
DELETE FROM NHANVIEN WHERE IDNV=@IDNV
END
GO
CREATE PROCEDURE COUNT_NHANVIEN
AS
BEGIN
SELECT COUNT(*)+ABS(CHECKSUM(NewId())) % 1000 FROM NHANVIEN
END
GO
CREATE PROCEDURE TIM_TENNV
@TEN NVARCHAR(100)
AS
BEGIN
SELECT NHANVIEN.IDNV,NHANVIEN.TENNV,NHANVIEN.NGAYSINH,NHANVIEN.SDT,NHANVIEN.GIOITINH,TAIKHOAN.TENTK,TAIKHOAN.MATKHAU,TAIKHOAN.QUYEN,HINHNV.HINH,HINHNV.IDHINH 
FROM NHANVIEN
inner join TAIKHOAN on NHANVIEN.IDNV=TAIKHOAN.IDNV
inner join HINHNV on NHANVIEN.IDNV=HINHNV.IDNV
where NHANVIEN.TENNV like '%'+@TEN+'%'
END
GO
---
CREATE TABLE HINHNV
(
IDHINH INT IDENTITY(1,1),
HINH IMAGE,
IDNV char(20),
CONSTRAINT PK_IDHINHNV PRIMARY KEY(IDHINH),
CONSTRAINT FK_IDNVHINH FOREIGN KEY(IDNV) REFERENCES NHANVIEN(IDNV),
CONSTRAINT UNIQUE_HINH UNIQUE(IDNV)
)
GO
CREATE PROCEDURE LOAD_HINHNV
AS
BEGIN
SELECT * FROM HINHNV
END
GO
CREATE PROCEDURE INSERT_HINHNV
@HINH IMAGE,@IDNV char(20)
AS
BEGIN
INSERT INTO HINHNV(HINH,IDNV) VALUES(@HINH,@IDNV)
END
GO
CREATE PROCEDURE UPDATE_HINHNV
@IDHINH INT,@HINH IMAGE
AS
BEGIN
UPDATE HINHNV SET HINH=@HINH WHERE IDHINH=@IDHINH
END
GO
CREATE PROCEDURE DELETE_HINHNV
@IDHINH int
AS
BEGIN
DELETE FROM HINHNV WHERE IDHINH=@IDHINH
END
GO
----
CREATE TABLE TAIKHOAN
(
TENTK VARCHAR(50),
MATKHAU VARCHAR(20) NOT NULL,
QUYEN VARCHAR(20) NOT NULL CHECK (QUYEN='NHANVIEN' OR QUYEN='ADMIN'),
IDNV char(20) NOT NULL,
CONSTRAINT PK_TENTK PRIMARY KEY(TENTK),
CONSTRAINT FK_IDNVTK FOREIGN KEY(IDNV) REFERENCES NHANVIEN(IDNV)
)
GO
CREATE PROCEDURE LOAD_TAIKHOAN
AS
BEGIN
SELECT * FROM TAIKHOAN
END
GO
CREATE PROCEDURE INSERT_TAIKHOAN
@TENTK VARCHAR(50),@MATKHAU VARCHAR(20),@QUYEN VARCHAR(20),@IDNV char(20)
AS
BEGIN
INSERT INTO TAIKHOAN(TENTK,MATKHAU,QUYEN,IDNV) VALUES(@TENTK,@MATKHAU,@QUYEN,@IDNV)
END
GO
CREATE PROCEDURE UPDATE_TAIKHOAN
@TENTK VARCHAR(50),@MATKHAU VARCHAR(20),@QUYEN VARCHAR(20),@IDNV char(20)
AS
BEGIN
UPDATE TAIKHOAN SET MATKHAU=@MATKHAU,QUYEN=@QUYEN,IDNV=@IDNV WHERE TENTK=@TENTK
END
GO
CREATE PROCEDURE DELETE_TAIKHOAN
@TENTK VARCHAR(50)
AS
BEGIN
DELETE FROM TAIKHOAN WHERE TENTK=@TENTK
END
GO
CREATE PROCEDURE CHECK_TAIKHOAN
@TENTK VARCHAR(50),@MATKHAU VARCHAR(20)
AS
BEGIN
SELECT COUNT(*) FROM TAIKHOAN WHERE TAIKHOAN.TENTK=@TENTK AND TAIKHOAN.MATKHAU=@MATKHAU
END
GO
CREATE PROCEDURE GET_TENVAQUYEN_TAIKHOAN
@TENTK VARCHAR(50),@MATKHAU VARCHAR(20)
AS
BEGIN
SELECT TAIKHOAN.QUYEN,NHANVIEN.TENNV,NHANVIEN.IDNV
FROM TAIKHOAN 
INNER JOIN NHANVIEN ON TAIKHOAN.IDNV=NHANVIEN.IDNV
WHERE TAIKHOAN.TENTK=@TENTK AND TAIKHOAN.MATKHAU=@MATKHAU
END
GO
----
CREATE TABLE BAN
(
IDBAN INT IDENTITY(1,1),
TEN NVARCHAR(50) NOT NULL,
TRANGTHAI NVARCHAR(20) CHECK(TRANGTHAI=N'Trống' or TRANGTHAI=N'Có Người') default N'Trống' not null,
ODER INT NOT NULL,
CONSTRAINT PK_IDBAN PRIMARY KEY(IDBAN)
)
GO
CREATE PROCEDURE LOAD_BAN
AS
BEGIN
SELECT * FROM BAN
ORDER BY ODER ASC
END
GO
CREATE PROCEDURE LOAD_BAN_TRONG
AS
BEGIN
SELECT * FROM BAN WHERE BAN.TRANGTHAI=N'Trống'
END
GO
CREATE PROCEDURE LOAD_BAN_CONGUOI
AS
BEGIN
SELECT * FROM BAN WHERE BAN.TRANGTHAI=N'Có người'
END
GO
CREATE PROCEDURE INSERT_BAN
@TEN NVARCHAR(50),@TRANGTHAI NVARCHAR(20),@ODER INT
AS
BEGIN
INSERT INTO BAN(TEN,TRANGTHAI,ODER) VALUES(@TEN,@TRANGTHAI,@ODER)
END
GO
CREATE PROCEDURE UPDATE_BAN
@IDBAN INT,@TEN NVARCHAR(50),@TRANGTHAI NVARCHAR(20)
AS
BEGIN
UPDATE BAN SET TEN=@TEN,TRANGTHAI=@TRANGTHAI WHERE IDBAN=@IDBAN
END
GO
CREATE PROCEDURE UPDATE_trangthaiban
@IDBAN INT,@TRANGTHAI NVARCHAR(20)
AS
BEGIN
UPDATE BAN SET TRANGTHAI=@TRANGTHAI WHERE IDBAN=@IDBAN
END
GO
CREATE PROCEDURE DELETE_BAN
@IDBAN INT
AS
BEGIN
DELETE FROM BAN WHERE IDBAN=@IDBAN
END
GO
----
CREATE TABLE DANHMUC_DOUONG
(
IDDM INT IDENTITY(1,1),
TENDM NVARCHAR(50) NOT NULL,
CONSTRAINT PK_IDDM PRIMARY KEY(IDDM)
)
GO
CREATE PROCEDURE LOAD_DANHMUC
AS
BEGIN
SELECT * FROM DANHMUC_DOUONG
END
GO
CREATE PROCEDURE INSERT_DANHMUC
@TENDM NVARCHAR(50)
AS
BEGIN
INSERT INTO DANHMUC_DOUONG(TENDM) VALUES(@TENDM)
END
GO
CREATE PROCEDURE UPDATE_DANHMUC
@IDDM INT,@TENDM NVARCHAR(50)
AS
BEGIN
UPDATE DANHMUC_DOUONG SET TENDM=@TENDM WHERE IDDM=@IDDM
END
GO
CREATE PROCEDURE DELETE_DANHMUC
@IDDM INT
AS
BEGIN
DELETE FROM DANHMUC_DOUONG WHERE IDDM=@IDDM
END
GO
----
CREATE TABLE DOUONG
(
IDDOUONG INT IDENTITY(1,1),
IDDM INT NOT NULL,
TENDOUONG NVARCHAR(100) NOT NULL,
DONGIA FLOAT DEFAULT 0 NOT NULL,
CONSTRAINT PK_IDDOUONG PRIMARY KEY(IDDOUONG),
CONSTRAINT FK_IDDM FOREIGN KEY(IDDM) REFERENCES DANHMUC_DOUONG(IDDM)
)
GO
CREATE PROCEDURE LOAD_DOUONG
AS
BEGIN
SELECT DOUONG.IDDOUONG,DOUONG.IDDM,DANHMUC_DOUONG.TENDM,DOUONG.TENDOUONG,DOUONG.DONGIA FROM DOUONG inner join DANHMUC_DOUONG on DANHMUC_DOUONG.IDDM=DOUONG.IDDM
END
GO
CREATE PROCEDURE LOAD_DOUONG_WITH_WHERE
@MADM INT
AS
BEGIN
SELECT * FROM DOUONG WHERE DOUONG.IDDM=@MADM
END
GO
CREATE PROCEDURE LOAD_DOUONG_ID
@IDDM INT
AS
BEGIN
SELECT TENDOUONG,DONGIA FROM DOUONG WHERE IDDM=@IDDM
END
GO
CREATE PROCEDURE TIM_TENDOUONG
@TEN NVARCHAR(50)
AS
BEGIN
SELECT DOUONG.IDDOUONG,DANHMUC_DOUONG.TENDM,DOUONG.TENDOUONG,DOUONG.DONGIA FROM DOUONG INNER JOIN DANHMUC_DOUONG ON DOUONG.IDDM=DANHMUC_DOUONG.IDDM WHERE DOUONG.TENDOUONG LIKE '%'+@TEN+'%'
END
GO
CREATE PROCEDURE LOAD_INDSDOUONG
AS
BEGIN
SELECT DOUONG.TENDOUONG,DOUONG.DONGIA FROM DOUONG
END
GO
CREATE PROCEDURE INSERT_DOUONG
@IDDM INT,@TENDOUONG NVARCHAR(100),@DONGIA FLOAT
AS
BEGIN
INSERT INTO DOUONG(IDDM,TENDOUONG,DONGIA) VALUES(@IDDM,@TENDOUONG,@DONGIA)
END
GO
CREATE PROCEDURE UPDATE_DOUONG
@IDDOUONG INT,@IDDM INT,@TENDOUONG NVARCHAR(100),@DONGIA FLOAT
AS
BEGIN
UPDATE DOUONG SET IDDM=@IDDM,TENDOUONG=@TENDOUONG,DONGIA=@DONGIA WHERE IDDOUONG=@IDDOUONG
END
GO
CREATE PROCEDURE DELETE_DOUONG
@IDDOUONG INT
AS
BEGIN
DELETE FROM DOUONG WHERE IDDOUONG=@IDDOUONG
END
GO
----
CREATE TABLE HOADON
(
IDHOADON INT IDENTITY(1,1),
IDBAN INT NOT NULL,
IDNV char(20) NOT NULL,
NGAYLAP DATE NOT NULL DEFAULT GETDATE(),
TRANGTHAI NVARCHAR(20) DEFAULT N'Chưa' NOT NULL,
CONSTRAINT PK_IDHOADON PRIMARY KEY(IDHOADON),
CONSTRAINT FK_IDBANHD FOREIGN KEY(IDBAN) REFERENCES BAN(IDBAN),
CONSTRAINT FK_IDNVHD FOREIGN KEY(IDNV) REFERENCES NHANVIEN(IDNV)
)
GO
CREATE PROCEDURE LOAD_HOADON_WITH_IDBAN
@IDBAN INT
AS
BEGIN
select HOADON.IDHOADON from HOADON where HOADON.IDBAN=@IDBAN
END
GO
CREATE PROCEDURE DEMSOHD_OFBAN
@IDBAN INT
AS
BEGIN
SELECT COUNT(*) from HOADON where HOADON.IDBAN=@IDBAN
END
GO
CREATE PROCEDURE LOAD_HOADON
AS
BEGIN
SELECT * FROM HOADON
END
GO
CREATE PROCEDURE INSERT_HOADON
@IDBAN INT,@IDNV CHAR(20),@NGAYLAP DATE,@TRANGTHAI NVARCHAR(20)
AS
BEGIN
INSERT INTO HOADON(IDBAN,IDNV,NGAYLAP,TRANGTHAI) VALUES(@IDBAN,@IDNV,@NGAYLAP,@TRANGTHAI)
END
GO
CREATE PROCEDURE UPDATE_HOADON
@IDHOADON INT,@IDBAN INT,@IDNV char(20),@NGAYLAP DATE,@TRANGTHAI NVARCHAR(20)
AS
BEGIN
UPDATE HOADON SET IDBAN=@IDBAN,IDNV=@IDNV,NGAYLAP=@NGAYLAP,TRANGTHAI=@TRANGTHAI WHERE IDHOADON=@IDHOADON
END
GO
CREATE PROCEDURE UPDATE_HOADON_doiban
@IDHOADON INT,@IDBAN INT
AS
BEGIN
UPDATE HOADON SET IDBAN=@IDBAN WHERE IDHOADON=@IDHOADON
END
GO
CREATE PROCEDURE DELETE_HOADON
@IDHOADON INT
AS
BEGIN
DELETE FROM HOADON WHERE IDHOADON=@IDHOADON
END
GO
CREATE PROCEDURE DELETE_HOADON_with_IDBAN
@IDBAN INT
AS
BEGIN
DELETE FROM HOADON WHERE IDBAN=@IDBAN
END
GO
----
CREATE TABLE CTHD
(
IDCTHD INT IDENTITY(1,1),
IDHOADON INT NOT NULL,
IDDOUONG INT NOT NULL,
SOLUONG INT DEFAULT 0 NOT NULL,
CONSTRAINT PK_IDCTHD PRIMARY KEY(IDCTHD),
CONSTRAINT FK_IDHOADONCTHD FOREIGN KEY(IDHOADON) REFERENCES HOADON(IDHOADON),
CONSTRAINT FK_IDDOUONGCTHD FOREIGN KEY(IDDOUONG) REFERENCES DOUONG(IDDOUONG)
)
GO
CREATE TRIGGER TANGSOLUONG_KHITRUNGID ON CTHD
instead of INSERT -- THAY VÌ: INSERT NẾU ĐÚNG TRONG ĐIỀU KIỆN THÌ SẼ THỰC HIỆN ĐIỀU KIỆN CHỨ KO INSERT
AS
BEGIN
    DECLARE @IDDOUONG INT,@SOLUONGNHAP INT,@IDHOADON INT,@SOLUONGCU INT
    SET @IDHOADON=(SELECT INSERTED.IDHOADON FROM INSERTED)
    SET @SOLUONGNHAP=(SELECT INSERTED.SOLUONG FROM INSERTED)
    SET @IDDOUONG=(SELECT INSERTED.IDDOUONG FROM INSERTED)
    IF(@IDDOUONG IN (SELECT CTHD.IDDOUONG FROM CTHD WHERE IDHOADON=@IDHOADON AND IDDOUONG=@IDDOUONG))
    BEGIN 
     SET @SOLUONGCU=(SELECT CTHD.SOLUONG FROM CTHD WHERE CTHD.IDHOADON=@IDHOADON AND CTHD.IDDOUONG=@IDDOUONG)  
     UPDATE CTHD SET SOLUONG=@SOLUONGNHAP+@SOLUONGCU WHERE CTHD.IDHOADON=@IDHOADON AND CTHD.IDDOUONG=@IDDOUONG   
    END   
    ELSE
     BEGIN
      INSERT INTO CTHD(IDHOADON,IDDOUONG,SOLUONG) VALUES(@IDHOADON,@IDDOUONG,@SOLUONGNHAP)
     END
END
GO
--drop trigger TANGSOLUONG_KHITRUNGID
CREATE PROCEDURE LOAD_CTHD
@IDHOADON INT
AS
BEGIN
SELECT CTHD.IDCTHD,CTHD.IDHOADON,CTHD.IDDOUONG,DOUONG.TENDOUONG,CTHD.SOLUONG,DOUONG.DONGIA,(CTHD.SOLUONG*DOUONG.DONGIA),DANHMUC_DOUONG.TENDM
FROM CTHD 
inner join DOUONG on CTHD.IDDOUONG=DOUONG.IDDOUONG
inner join DANHMUC_DOUONG on DOUONG.IDDM=DANHMUC_DOUONG.IDDM
WHERE CTHD.IDHOADON=@IDHOADON
END
GO
CREATE PROCEDURE LOAD_CTHD_thanhtoan
@IDHOADON INT
AS
BEGIN
SELECT DOUONG.IDDOUONG,DOUONG.TENDOUONG,CTHD.SOLUONG,DOUONG.DONGIA,(CTHD.SOLUONG*DOUONG.DONGIA),DANHMUC_DOUONG.TENDM
FROM CTHD 
inner join DOUONG on CTHD.IDDOUONG=DOUONG.IDDOUONG
inner join DANHMUC_DOUONG on DOUONG.IDDM=DANHMUC_DOUONG.IDDM
WHERE CTHD.IDHOADON=@IDHOADON
END
GO

CREATE PROCEDURE INSERT_CTHD
@IDHOADON INT,@IDDOUONG INT,@SOLUONG INT
AS
BEGIN
INSERT INTO CTHD(IDHOADON,IDDOUONG,SOLUONG) VALUES(@IDHOADON,@IDDOUONG,@SOLUONG)
END
GO
CREATE PROCEDURE UPDATE_CTHD
@IDCTHD INT,@IDHOADON INT,@IDDOUONG INT,@SOLUONG INT
AS
BEGIN
UPDATE CTHD SET IDHOADON=@IDHOADON,IDDOUONG=@IDDOUONG,SOLUONG=@SOLUONG
END
GO
CREATE PROCEDURE DELETE_CTHD
@IDHOADON INT,@IDDOUONG INT
AS
BEGIN
DELETE FROM CTHD WHERE IDHOADON=@IDHOADON AND IDDOUONG=@IDDOUONG
END
GO
----

CREATE TABLE HOADON_OLD
(
IDHD_OLD INT IDENTITY(1,1),
IDHOADON INT NOT NULL ,
IDBAN INT NOT NULL,
IDNV char(20) NOT NULL,
NGAYLAP DATE NOT NULL DEFAULT GETDATE(),
TRANGTHAI NVARCHAR(20) DEFAULT N'Chưa' NOT NULL,
TONGTIEN FLOAT DEFAULT 0 NOT NULL
CONSTRAINT PK_IDHD_OLD PRIMARY KEY(IDHD_OLD),
CONSTRAINT IDHD_DUYNHAT UNIQUE (IDHOADON),
)
GO
CREATE PROCEDURE TIM_HOADON_OLD
@TEMBAN NVARCHAR(50)
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
WHERE BAN.TEN =@TEMBAN  
END
GO
CREATE PROCEDURE TIM_HOADON_OLD_tennv
@TENNV NVARCHAR(50)
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
WHERE NHANVIEN.TENNV =@TENNV  
END
GO
CREATE PROCEDURE LOAD_HOADON_OLD
AS
BEGIN
SELECT HOADON_OLD.IDHD_OLD,HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
END
GO
CREATE PROCEDURE LOAD_HOADON_OLD_NOTID
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
END
GO
CREATE PROCEDURE INSERT_HOADON_OLD
@IDHOADON INT ,@IDBAN INT ,@IDNV char(20),@NGAYLAP DATE,@TRANGTHAI NVARCHAR(20),@TONGTIEN FLOAT
AS
BEGIN
INSERT INTO HOADON_OLD(IDHOADON,IDBAN,IDNV,NGAYLAP,TRANGTHAI,TONGTIEN) VALUES(@IDHOADON,@IDBAN,@IDNV,@NGAYLAP,@TRANGTHAI,@TONGTIEN)
END
GO
CREATE PROCEDURE DELETE_HOADON_OLD
@IDHD_OLD INT
AS
BEGIN
DELETE FROM HOADON_OLD WHERE IDHD_OLD=@IDHD_OLD
END
GO
CREATE TABLE CTHD_OLD
(
IDCTHD_OLD INT IDENTITY(1,1),
IDHOADON_OLD INT NOT NULL,
IDDOUONG INT NOT NULL,
SOLUONG INT DEFAULT 0 NOT NULL,
CONSTRAINT PK_IDCTHD1 PRIMARY KEY(IDCTHD_OLD),
CONSTRAINT FK_IDHOADONCTHD_OLD FOREIGN KEY(IDHOADON_OLD) REFERENCES HOADON_OLD(IDHOADON),
)
GO
CREATE PROCEDURE LOAD_CTHD_OLD
@IDHD_OLD INT
AS
BEGIN
SELECT CTHD_OLD.IDCTHD_OLD,CTHD_OLD.IDHOADON_OLD,CTHD_OLD.IDDOUONG,DOUONG.TENDOUONG,CTHD_OLD.SOLUONG,DOUONG.DONGIA,(CTHD_OLD.SOLUONG*DOUONG.DONGIA)
FROM CTHD_OLD
INNER JOIN DOUONG ON CTHD_OLD.IDDOUONG=DOUONG.IDDOUONG
WHERE IDHOADON_OLD=@IDHD_OLD
END
GO
CREATE PROCEDURE LOAD_CTHD_OLD_PRINTER
@IDHD_OLD INT
AS
BEGIN
SELECT DOUONG.TENDOUONG,CTHD_OLD.SOLUONG,DOUONG.DONGIA,(CTHD_OLD.SOLUONG*DOUONG.DONGIA)
FROM CTHD_OLD
INNER JOIN DOUONG ON CTHD_OLD.IDDOUONG=DOUONG.IDDOUONG
WHERE IDHOADON_OLD=@IDHD_OLD
END
GO
CREATE PROCEDURE INSERT_CTHD_OLD
@IDHD_OLD INT,@IDDOUONG INT,@SOLUONG INT
AS
BEGIN
 INSERT INTO CTHD_OLD(IDHOADON_OLD,IDDOUONG,SOLUONG) VALUES (@IDHD_OLD,@IDDOUONG,@SOLUONG)
END
GO
CREATE PROCEDURE DELETE_CTHD_OLD
@IDHD_OLD INT
AS
BEGIN
DELETE FROM CTHD_OLD WHERE IDHOADON_OLD=@IDHD_OLD
END
GO
--

CREATE PROCEDURE LOAD_HD_DAY
@NGAY INT
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
WHERE DAY(HOADON_OLD.NGAYLAP)=@NGAY
END
GO
CREATE PROCEDURE LOAD_HD_MONTH
@THANG INT
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
WHERE MONTH(HOADON_OLD.NGAYLAP)=@THANG
END
GO
CREATE PROCEDURE LOAD_HD_YEAR
@NAM INT
AS
BEGIN
SELECT HOADON_OLD.IDHOADON,BAN.TEN,NHANVIEN.TENNV,HOADON_OLD.NGAYLAP,HOADON_OLD.TRANGTHAI,HOADON_OLD.TONGTIEN
FROM HOADON_OLD
INNER JOIN BAN ON HOADON_OLD.IDBAN=BAN.IDBAN
INNER JOIN NHANVIEN ON HOADON_OLD.IDNV=NHANVIEN.IDNV
WHERE YEAR(HOADON_OLD.NGAYLAP)=@NAM
END
GO